<section class="page-title">
  <ng-template #content>
    <ng-container *ngIf="!title">
        <div class="titleoff">
          <h1><img [src]="img" alt="img-content" /></h1>
        </div>
    </ng-container>
    <ng-container *ngIf="title">
        <div class="titleon">
          <img [src]="img" alt=" " />
          <h1>{{ title }}</h1>
        </div>
    </ng-container>
  </ng-template>
  <a [href]="link" *ngIf="link; else content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</section>
