.nav_style{
    padding: 20px;
    background-color: purple;
        
}

.div_nav_style{
    padding: 20px;
}

.div_nav_style a{
    padding: 20px;
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.div_nav_style a:hover {
    font-size: 28px;
}

// .div_nav_style a:active {
//     font-size: 28px;
// }